@import url(/reset.css);
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
:root{
    --bd-test: 1px #000 solid;
    --bgc-test:#e2ecc6;

    --blur:blur(5px);
    --blur_back:blur(2px);
    --fff:#fff;
    --hamburger-size:25px;   

}
*{
    font-family: 'Pretendard-Regular', Helvetica,sans-serif ,serif;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    width: 100vw;
    height: 100vh;
    &::-webkit-scrollbar{
        /* display: none; */
      }
}
body{
    min-width: 340px; /*갤럭시폴드 폴디드 width*/
    width: 100%;
    height: 100%;
}
/* 헤더 */
header{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3rem;
    background-color: var(--fff);
    border-bottom: #e5e5e5 1px solid;
}
/* 헤더 로고 */
#header-logo{
    width: 17.8rem;
    height: 5.1rem;
    overflow: hidden;
}
/* gnb */
.gnb{
    margin: 0 3rem;
    /* 1100px 이하일 경우 숨기기 */
}
.gnb_list{
    /* margin: auto; */
    display: flex;
    gap: 0 5.2rem;
}
.gnb_item-lv1>a{
    position: relative;
    font-weight: 700;
}
/* 헤더 왼쪽 메뉴바+한영 */
.header-menu{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
/* 한영전환 */
.lang-wrap{
    position: relative;
}
.lang-select{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    /* margin-top: 5px; */
    
    /* border: var(--bd-test); */
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffac;
    
    border-radius: 10px;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    overflow: hidden;    
}
.lang-btn{
    padding: 8px 0px;
}
.lang-select>a{
    padding: 5px 19px;
}
.lang-select>a:hover{
    background-color: #c0c0c0ac;
}
.lang-wrap:hover .lang-btn-icon{
    transition: 0.3s;
}
.lang-wrap:hover .lang-btn-icon{
    transform: rotateZ(180deg);
}
.lang-wrap:hover .lang-select{
    display: flex;
}
/* 햄버거 메뉴 */
.all_menu-btn{
    position: relative;
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
}
.all_menu-btn-icon{
    font-size: 1.2em;
}
.all_menu-btn:hover{
    cursor: pointer;
}

/* 전체 메뉴(나타나는 메뉴)---------------------- */
#all_menu{
    z-index: 102;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 1200px;
    width: 75%;
    height: 100vh;
    background-color: var(--fff);
    transform: translateX(100%);
    transition: .3s ease-in-out;
}
/* 전체 메뉴 BACK */
.all_menu-back{
    position: fixed;
    top: 0;
    left: 0;
    
    /* display: none; */
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000065;
    backdrop-filter: var(--blur_back);
    -webkit-backdrop-filter: var(--blur_back);
    transform: translateX(100%);
    transition: opacity .4s ease-in-out;


    z-index: 101;
}
/* 메뉴 토글 */
#all_menu-toggle:checked ~ #all_menu{
    transform: translateX(0%)
}
#all_menu-toggle:checked ~ .all_menu-back{
    transform: translateX(0%);
    opacity: 1;
}


/* 메인 */
/* 섹션1 */
#sec1{
    width: 100%;
    height: 100vh;
    background-color: var(--bgc-test);
}
#sec2{
    width: 100%;
    height: 100px;
    border: var(--bd-test);
}