@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
:root{
    --bd-test: 1px #b7b7b7 solid;
    --bgc-test:#eeffe0;

    --keycolor:#a51c30;
    --blur:blur(5px);
    --blur_back:blur(2px);
    --fff:#fff;
    --fff2:#efeeee;
    --black:#000;
    --black2:#121212;
    --hamburger-size:25px;   
    --header-bgc: #fff;
    --header-h: 70px;
    --header-padding-side:3rem;
    --q-size:50px;
    --keytabs-padding-right:45px;
    --text-shadow:0px 2px 2px rgba(0, 0, 0, 0.27);
}
*{
    font-family: 'Pretendard-Regular', Helvetica,sans-serif ,serif;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    width: 100vw;
    height: 100vh;
    &::-webkit-scrollbar{
        display: none;
      }
}
body{
    min-width: 340px; /*갤럭시폴드 폴디드 width*/
    width: 100%;
    height: 100%;
}
/* 문의(플로팅 최상단) */
.theq{
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: var(--q-size);
    height: var(--q-size);
    border-radius: 50%;
    border: var(--bd-test);
    font-size: 1.5em;
    font-weight: bold;
    transform: rotateZ(-20deg);
    background-color: #ffffff81;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}
/* 헤더 */
header{
    position: fixed;
    width: 100%;
    z-index: 100;
    
}
.header-wrap{
    width: 100%;
    height: var(--header-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--header-padding-side);
    /* background-color: var(--fff); */
    /* border-bottom: #e5e5e5 1px solid; */
    color: var(--fff2);
    text-shadow: var(--text-shadow);
}
/* 헤더 로고 */
#header-logo{
    width: 17.8rem;
    height: 5.1rem;
    overflow: hidden;
}
/* gnb */
.gnb{
    margin: 0 3rem;
    /* 1100px 이하일 경우 숨기기 */
}
.gnb_list{
    /* margin: auto; */
    display: flex;
    gap: 0 5rem;
}
.gnb_item-lv1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-h);
}
.gnb_item-lv1>a{
    padding: 2px 0;
    border-bottom: 3px solid #00000000;
}
.gnb_item-lv1:hover>a{
    border-bottom-color: #c81818;
}
.gnb_item-lv1>a{
    position: relative;
    font-weight: 700;
}
.gnb_list-lv2{
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% - 15px));
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 5px;
    background-color: #ffffffd2;
    overflow: hidden;
    color: var(--black2);
}
.gnb_item-lv2{
    padding: 5px 20px;
    /* padding-top: 10px; */
    border-bottom: 1px solid #00000000;
}
.gnb_item-lv2:first-child{
    padding-top: 10px;
}
.gnb_item-lv2:last-child{
    padding-bottom: 15px;
}
.gnb_item-lv2:hover{
    background-color: var(--keycolor);
    color: var(--fff);
}



/* 헤더 왼쪽 메뉴바+한영 */
.header-menu{
    display: flex;
    gap: 1.9rem;
    align-items: center;
}
/* 한영전환 */
.lang-wrap{
    position: relative;
}
.lang-select{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    /* margin-top: 5px; */
    
    /* border: var(--bd-test); */
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffac;
    
    border-radius: 15px;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    overflow: hidden;    
}
.lang-btn{
    padding: 8px 0px;
}
.lang-select>a{
    padding: 5px 19px;
    color: var(--black2);
}
.lang-select>a:hover{
    background-color: var(--keycolor);
    color: var(--fff);
}
.lang-btn-icon{
    transform: scale(.7);
}
.lang-wrap:hover .lang-btn-icon{
    transition: 0.3s;
    transform: rotateZ(180deg) scale(.7);
}
.lang-wrap:hover .lang-select{
    display: flex;
}
/* 햄버거 메뉴 */
.all_menu-btn{
    position: relative;
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
}
.all_menu-btn-icon{
    font-size: 1.2em;
}
.all_menu-btn:hover{
    cursor: pointer;
}

/* 전체 메뉴(나타나는 메뉴)---------------------- */
#all_menu{
    z-index: 102;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 1200px;
    width: 75%;
    height: 100vh;
    padding: var(--header-h) 50px;
    transform: translateX(100%);
    transition: .3s ease-in-out;
        
    background-color: var(--keycolor);
}


.all_menu-top{
    z-index: -103;
    position: fixed;
    top: 0;
    right: 0;
    /* width: 100%; */
    height: var(--header-h);
    padding: 0 var(--header-padding-side);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    opacity: 0;
}
.all_menu-top-x{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--fff);
}
/* 전체 메뉴 BACK */
.all_menu-back{
    position: fixed;
    top: 0;
    left: 0;
    
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000065;
    backdrop-filter: var(--blur_back);
    -webkit-backdrop-filter: var(--blur_back);
    transform: translateX(100%);
    transition: opacity .4s ease-in-out;
    z-index: 101;
}
/* 메뉴 토글 */
#all_menu-toggle:checked ~ #all_menu{
    transform: translateX(0%)
}
#all_menu-toggle:checked ~ .all_menu-back{
    transform: translateX(0%);
    opacity: 1;
}
#all_menu-toggle:checked ~ .all_menu-top{
    z-index: 103;
    opacity: 1;
    transition: opacity .3s ease-in-out;

}

.all-menu{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    color: var(--fff2);
    &::-webkit-scrollbar{
        display: none;
      }
}
.all-menu-row{
    padding: 30px 15px;
    display: flex;
    flex-direction: row;
    
    
}
.all-menu-row-sec1{
    font-weight: 600;
    font-size: 1.3em;
    min-width: 110px;
}
.all-menu-row-sec2{
    padding: 0 15px 0 50px;
    width: 100%;
    
}
.all-menu-row-item{

}

.all-menu-row:hover>.all-menu-row-sec1{
    color: #ff4f4f;
}
.all-menu-row:not(.all-menu-row:last-child){
    border-bottom: #a5a5a565 1px solid;
}



/* 메인 ---------------------*/
/* 섹션1 ---------------------*/
#sec1{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 960px;
    background-color: var(--bgc-test);

    /* padding-top: var(--header-h); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_slide{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.main_slide>img{
    width: 100%;    
    height: 100%;
    object-fit: cover;
}
.main_slide::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background-color: #00000048;
}
.main_keytabs{
    position: absolute;
    bottom: 0;left: 0;
    z-index: 1;


    --keytabs-border-color:rgba(255, 255, 255, 0.25);
    width: 100%;
    border-top: 1px solid var(--keytabs-border-color);
    border-bottom: 1px solid var(--keytabs-border-color);
    display: flex;
}
.keytabs{
    position: relative;
    
    min-width: 180px;
    width: 25%;
    padding: 30px;
    padding-right: var(--keytabs-padding-right);
    border: 1px solid var(--keytabs-border-color);
    font-size: 1.1rem;

    display: inline-flex;
    align-items: center;
    gap: 0 1.2rem;

    background-color: #ffffff0b;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #efeeee;
}

.keytabs>.arrow45deg{
    position: absolute;
    top: 50%;
    right: calc(var(--keytabs-padding-right)/2);
}
.keytabs:hover{
    background-color: var(--keycolor);
}
/* 중앙 텍스트 */
.main_words{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
    padding: 10px 15px;
}
.main_words>div{
    color: var(--fff2);
    z-index: 1;
    text-shadow: var(--text-shadow);
    text-align: center;
}
.main_words-top{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2.3em;
}
.main_words-bottom{
    font-size: 1em;
}

/* 섹션2 ---------------------*/
#sec2{
    width: 100%;
    height: 300px;
    border: var(--bd-test);
}
/* 섹션3 ---------------------*/
#sec3{
    width: 100%;
    height: 300px;
    border: var(--bd-test);
}
/* 섹션4 ---------------------*/
#sec4{
    width: 100%;
    height: 300px;
    border: var(--bd-test);
}


@media (min-width: 1440px) {
    :root{
        --header-h: 90px;
    }
    .gnb_list{
        gap: 6.5em;
        font-size: 1.1em;
        height: var(--header-h);
    }
}
@media (max-width: 1024px) {
    .gnb{
        display: none;
    }
    #sec1{
        max-height: 768px;
    }
    .header-menu{
        gap: 1.5em;
    }
    
}
@media (max-width: 840px) {
    .main_keytabs{
        flex-wrap: wrap;
    }
    .keytabs{
        font-size: .9em;
    }
    .main_words-top{
        font-size: 1.75em;
    }
}
@media (max-width: 768px) {
    :root{
        --header-h: 60px;
        --header-padding-side:2rem;
    }
    #all_menu{
        width: 85%;
    }
    .keytabs{
        width: 50%;
    }
}
@media (max-width: 720px) {
    #all_menu{
        width: 100%;
    }
}
@media (max-width: 450px){
    :root{
        --header-padding-side:1rem;
    }
    .keytabs{
        min-width: 100px;
        padding-right: 0;        ;
    }
    .header-menu{
        gap: 1em;
    }
    .main_words-top{
        font-size: 1.7em;
    }
}
@media (max-width: 350px){
    .arrow45deg{
        display: none;
    }
    
}